@import "../../global.scss";

.contact {
  background-color: $backgroundColor;
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
      color: #eee5e9;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background-color: $mainColor;
      border-radius: 25px;
      margin-top: 10px;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 14px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: $oddColor;
        background-color: #383d3b;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: $textColor;
      }
    }
  }
}
.footer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: fit-content;
  margin-top: 2.5rem;
  color: $textColor;

  .gitHub {
    a {
      text-decoration: none;
      color: $textColor;
    }
  }
  .linkedIn {
    a {
      text-decoration: none;
      color: $textColor;
    }
  }
  .twitter {
    a {
      text-decoration: none;
      color: $textColor;
    }
  }
}
